extends ../layouts/LayoutComponent

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'customization'

block append content
  +PageHeader({title:"Customization"})
    p.mb-1.mt-2 We recommend you customize your theme styles using SCSS. You can customize the theme's styles with the following approaches:
  .card.mb-3
    .card-header
      h5.mb-0(data-anchor) Default Mode
    .card-body.bg-light
      .border.rounded.bg-white.px-3.py-2.mb-3
        code _user.scss
      p.mb-0 You can add your own SCSS and override the theme style in the 
        code src/scss/_user.scss
        |  file.
      .border-dashed-bottom.my-3
      .border.rounded.bg-white.px-3.py-2.mt-4.mb-3
        code _user-variables.scss
      p.mb-0 To make broader changes to the design of the theme, such as changing the color scheme or font sizes, use 
        code src/scss/_user-variables.scss
        | . Any variable from 
        code node_modules/bootstrap/scss/variables
        |  or 
        code src/scss/theme/_variables.scss
        |  can be overridden with your own value.
      .border-dashed-bottom.my-3
      .border.rounded.bg-white.px-3.py-2.mt-4.mb-3
        code _bootstrap.scss
      p.mb-0 To remove bootstrap components, update 
        code src/scss/_bootstrap.scss
        |  file.