extends ../layouts/LayoutComponent
include ../mixins/common/ComingSoon

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'dark-mode'

block append content
  +ComingSoon