extends ../layouts/LayoutComponent

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'file-structure'

block append content
  +PageHeader({title: 'File structure'})
    p.mb-1.mt-2 Within your theme, you’ll find the following directories and files, common grouping resources and providing both compiled, transpired and minified distribution files, as well as raw source files.

  pre.rounded-lg.shadow.mb-3.border-0
    code.lang-html.
      #{theme}/
        ├── gulp/
        |   ├── build.gulp.js
        |   ├── clean.gulp.js
        |   ├── gulp.json
        |   ├── pug.gulp.js
        |   ├── script.gulp.js
        |   ├── style.gulp.js
        |   ├── utils.js
        |   ├── vendor.gulp.js
        |   ├── w3c.gulp.js
        |   └── watch.gulp.js
        |
        ├── public/
        |   ├── assets/
        |   ├── authentication/
        |   ├── components/
        |   ├── demo/
        |   ├── documentation/
        |   ├── e-commerce/
        |   ├── email/
        |   ├── forms/
        |   ├── home/
        |   ├── pages/
        |   ├── plugins/
        |   ├── utilities/
        |   ├── vendors/
        |   ├── index.html
        |   └── *.html
        |
        ├── src/
        |   ├── js/
        |   ├── pug/
        |   └── scss/
        |        ├── theme/
        |        ├── _bootstrap.scss
        |        ├── _user.scss
        |        ├── _user-variables.scss
        |        └── theme.scss
        |   
        ├── .babelrc
        ├── .eslintrc
        ├── .gitignore
        ├── .prettierignore
        ├── gulpfile.js
        ├── package.json
        ├── package-lock.json
        ├── README.md
        └── vendors.json
