extends ../layouts/LayoutComponent

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'fluid-layout'

block append content
  +PageHeader({title:'Fluid-layout'})
    p.mt-2
      strong Fluid layout 
      | is a full-width layout, spanning the entire width of the viewport. You can easily display the contents taking the full width of the screen using #{name}'s Fluid Layout. 
    a(href=`${CWD}demo/fluid.html` target='_blank').btn.btn-link.pl-0.btn-sm  See the implementation here
      span.fas.fa-chevron-right.ml-1.fs--2

  .card.mb-3
    .card-header
      h5.mb-0(data-anchor) Switching to fluid Layout 
    .card-body.bg-light
      p Replace class 
        code .container 
        |  to 
        code  .container-fluid 
        |  inside the 
        code main 
        |  tag, and the page will be switched to fluid layout.

      +componentCardLib
        main.main#top
          .container-fluid
            // Your content will go here