extends ../layouts/LayoutComponent

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'RTL'

block append content
  +PageHeader({
    title: 'RTL',
    description: 'Your theme comes with a built-in automated RTL feature.',
    url: `${CWD}demo/RTL.html`,
    linkText: 'See the implementation here'
  })
  .card.mb-3
    .card-header
      h5.mb-0(data-anchor) Setting up HTML
    .card-body.bg-light
      p To use RTL mode, set the 
        code dir='rtl'
        |  in your 
        code html 
        | tag.
      pre
        code.lang-html.
          #{'<html dir=\'rtl\'>...</html>'}
      p.mt-4 And use the RTL stylesheet instead of 
        code theme.css
        | :
      pre
        code.lang-html.
          #{'<link href="assets/css/theme-rtl.css" rel="stylesheet">'}