mixin Default
  .form-file
    input#customFile.form-file-input(type='file')
    label.form-file-label(for='customFile')
      span.form-file-text Choose file...
      span.form-file-button Browse

mixin Sizing
  .form-file.form-file-lg.mb-3
    input#customFileLg.form-file-input(type='file')
    label.form-file-label(for='customFileLg')
      span.form-file-text Choose file...
      span.form-file-button Browse
  .form-file.form-file-sm
    input#customFileSm.form-file-input(type='file')
    label.form-file-label(for='customFileSm')
      span.form-file-text Choose file...
      span.form-file-button Browse


