mixin PageHeaderExampleDemo
  +PageHeader({title:"Page Title"})
    p.mt-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, incidunt pariatur a, exercitationem dignissimos ea veniam laboriosam minima cum rerum blanditiis quod maxime eligendi dolore est laudantium commodi assumenda cupiditate.
    a(href=`${CWD}documentation/getting-started.html` target='_blank').btn.btn-link.pl-0.btn-sm Get Started
      span.fas.fa-chevron-right.ml-1.fs--2