mixin SpinnerBasicExampleDemo
  .spinner-border(role='status')
    span.sr-only Loading...

mixin SpinnerColorsDescription
  p&attributes(attributes) The border spinner uses 
    code currentColor 
    | for its 
    code border-color
    |, meaning you can customize the color with text color utilities. You can use any of our text color utilities on the standard spinner.
    
mixin SpinnerColorsDemo
  each val in colors
    .spinner-border(class=`text-${val}` role='status')
      = '\n'
      span.sr-only Loading...
      = '\n'

mixin SpinnerGrowingDescription
  p&attributes(attributes) If you don’t fancy a border spinner, switch to the grow spinner. While it doesn’t technically spin, it does repeatedly grow!

mixin SpinnerGrowingDemo
  .spinner-grow(role='status')
    = '\n'
    span.sr-only Loading...
    = '\n'
    
    
mixin SpinnerGrowingColorDemo
  each val in colors
    .spinner-grow(class=`text-${val}` role='status')
      = '\n'
      span.sr-only Loading...
      = '\n'

mixin SpinnerSizeDescription
  p&attributes(attributes) Add 
    code .spinner-border-sm 
    | and 
    code .spinner-grow-sm 
    | to make a smaller spinner that can quickly be used within other components.
  
mixin SpinnerSizeDempo
  .spinner-border.spinner-border-sm(role='status')
    = '\n'
    span.sr-only Loading...
    = '\n'
  .spinner-border(role='status')
    = '\n'
    span.sr-only Loading...
    = '\n'
  .spinner-grow.spinner-grow-sm(role='status')
    = '\n'
    span.sr-only Loading...
    = '\n'
  .spinner-grow(role='status')
    = '\n'
    span.sr-only Loading...
    = '\n'
    
mixin SpinnerButtonDemo
  button.btn.btn-primary.mr-1(type='button', disabled='')
    = '\n'
    span.spinner-border.spinner-border-sm(role='status', aria-hidden='true')
    = '\n'
    span.sr-only Loading...
    = '\n'
  button.btn.btn-primary(type='button', disabled='')
    = '\n'
    span.spinner-border.spinner-border-sm(role='status', aria-hidden='true')
    = '\n'
    |   Loading...
    = '\n'
