mixin ToastBasicExampleDemo
  .toast.show(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header
      strong.mr-auto Bootstrap
      small 11 mins ago
      button.ml-2.btn-close(type='button' data-dismiss='toast' aria-label='Close')
    .toast-body
      | Hello, world! This is a toast message.

mixin ToastStackingDescription
  p&attributes(attributes) When you have multiple toasts, we default to vertically stacking them in a readable manner.

mixin ToastStackingDemo
  .toast.show(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header
      = '\n'
      strong.mr-auto Bootstrap
      = '\n'
      small.text-muted just now
        = '\n'
      button.ml-2.btn-close(type='button' data-dismiss='toast' aria-label='Close')
      = '\n'
    .toast-body
      | See? Just like this.
  .toast.show(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header
      strong.mr-auto Bootstrap
      small.text-muted 2 seconds ago
      button.ml-2.btn-close(type='button' data-dismiss='toast' aria-label='Close')
    .toast-body
      | Heads up, toasts will stack automatically

mixin ToastPlacementDescription
  p&attributes(attributes) Place toasts with the helper classes as you need them. The top right is often used for notifications, as is the top middle. If you’re only ever going to show one toast at a time, put the positioning styles right on the 
    code .toast
    |.     
mixin RoastRightPlaceDemo
  .position-relative(aria-live='polite' aria-atomic='true' style='min-height: 90px;')
    .toast.show.position-absolute.top-0.right-0
      .toast-header
        strong.mr-auto Bootstrap
        small 11 mins ago
        button.ml-2.btn-close(type='button' data-dismiss='toast' aria-label='Close')
      .toast-body
        | Hello, world! This is a toast message.

mixin ToastMiddlePlaceDescription
  p&attributes(attributes) You can also get fancy with flexbox utilities to align toasts horizontally and/or vertically.

mixin RoastMiddlePlaceDemo
  .d-flex.flex-center(aria-live='polite' aria-atomic='true' style='min-height: 300px;')
    .toast.show(role='alert' aria-live='assertive' aria-atomic='true')
      .toast-header
        strong.mr-auto Bootstrap
        small 11 mins ago
        button.ml-2.btn-close(type='button' data-dismiss='toast' aria-label='Close')
      .toast-body
        | Hello, world! This is a toast message.
