extends ../layouts/LayoutTheme
include ../mixins/email/Compose


append variables
  - var CWD = '../'  
  - var firstParent = 'email'              
  - var currentPage = 'compose' 

prepend scripts
  script(src=`${CWD}vendors/tinymce/tinymce.min.js`)

append content
  +Compose