<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <title>TEF Refeitório</title>
</head>

<body>
    <br> <br>
    
    <!--<h1>USUARIOS</h1>-->
    <div class="modal fade" id="mbLoginAdmin" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>administrador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <div class="row">
                            <input type="text" id='loginAdmin' class="form-control" placeholder="Usuário *" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <input type="password" id='senhaAdmin' class="form-control" placeholder="Senha *" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success form-control" data-toggle="modal"
                    data-target="#myMessageModal" data-dismiss="modal" id="btAcessoCadastro">Entrar</button>
            </div>
        </div>
    </div>
    </div>
</body>

<script src="./views/usuarios/usuarios.js"></script>

</html>