extends ../layouts/LayoutComponent
include ../mixins/forms/Checks

append variables
  - var firstParent = 'forms'              
  - var currentPage = 'checks'
  -
    var pageHeader = {
      title: 'Checks',
      description: 'Create consistent cross-browser and cross-device checkboxes and radios with our completely rewritten checks component.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/forms/checks`,
      linkText: "Form's check on Bootstrap"
    }


block component
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header 
      +DocCardHeader('Checks')
    .card-body.bg-light
      +componentCard
        +Checks

  .card.mb-3
    .card-header
      +DocCardHeader('Indeterminate') 
        +IndeterminateText
    .card-body.bg-light
      +componentCard
        +IndeterminateBox

  .card.mb-3
    .card-header 
      +DocCardHeader('Radios')
    .card-body.bg-light
      +componentCard
        +Radios 

  .card.mb-3
    .card-header 
      +DocCardHeader('Switches')
        +SwitchesText
    .card-body.bg-light
      +componentCard
        +Switches           

  .card.mb-3
    .card-header 
      +DocCardHeader('Check Inline')
        +InlineText  
    .card-body.bg-light
      +componentCard
        +InlineCheckbox       

  .card.mb-3 
    .card-header  
      +DocCardHeader('Radio Inline')
    .card-body.bg-light
      +componentCard
        +InlineRadio     
