extends ../layouts/LayoutComponent
include ../mixins/forms/Select

append variables
  - var firstParent = 'forms'              
  - var currentPage = 'select'

block component 
  +PageHeader(pageHeader[0])

  .card.mb-3
    .card-header 
      +DocCardHeader('Default')
        +DefaultText
    .card-body.bg-light
      +componentCard
        +DefaultForm

  .card.mb-3
    .card-header 
      +DocCardHeader('Sizing')
        p You may also choose from small and large custom selects to match our similarly sized text inputs.
    .card-body.bg-light
      +componentCard
        +Sizing

