extends ../layouts/LayoutComponent
include ../mixins/components/Accordion
 
append variables
  - var firstParent = 'components'              
  - var currentPage = 'accordion'  
  -
    var pageHeader = {
      title: 'Accordion',
      description: 'An accordion allows users to toggle the display of sections of content',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/components/collapse/#accordion-example`,
      linkText: 'Accordion on Bootstrap'
    }            

append content
  +PageHeader(pageHeader)

  .card
    .card-header
      +DocCardHeader('Example')
        +ExampleHeaderDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +AccordionDemo
