extends ../layouts/LayoutComponent
include ../mixins/components/Alerts

append variables
  - var firstParent = 'components'
  - var currentPage = 'alerts'
  -
    var pageHeader = {
      title: 'Alerts',
      description: 'Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/components/alerts/`,
      linkText: 'Alerts on Bootstrap'
    }

block component
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header
      +DocCardHeader('Examples')
        +AlertExampleHeaderDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +AlertBasicDemo

  .card.mb-3
    .card-header
      +DocCardHeader('Additional Content')
    .card-body.bg-light
      +componentCard
        +AlertAdditionalContentDemo

  .card.mb-3
    .card-header
      +DocCardHeader('Dismissing')
    .card-body.bg-light
      +componentCard
        +AlertDismissingDemo

