extends ../layouts/LayoutComponent
include ../mixins/common/Avatar
include ../mixins/components/Avatar

append variables
  - var firstParent = 'components'              
  - var currentPage = 'avatar'
  -
    var pageHeader = {
      title: 'Avatar',
      description: 'Use avater of different shapes and sizes with a single component.',
    }

append content
  +PageHeader(pageHeader)

  .row.g-0
    .col-md-4.pr-md-2
      .card.mb-3
        .card-header
          +DocCardHeader('Circular')
        .card-body.bg-light
          +componentCard
            +Avatar({size: '4xl'})
    .col-md-4.px-md-2
      .card.mb-3
        .card-header
          +DocCardHeader('Square')
        .card-body.bg-light
          +componentCard
            +AvatarSquareDemo
            
    .col-md-4.pl-md-2
      .card.mb-3
        .card-header
          +DocCardHeader('Soft')
        .card-body.bg-light
          +componentCard
            +Avatar({size: '4xl', img: 'team/3.jpg', round: 'soft' })

    .col-md-4.pr-md-2
      .card.mb-3
        .card-header
          +DocCardHeader('Content')
        .card-body.bg-light
          +componentCard
            +Avatar({size: '4xl', more: '12+', round: 'circle' })

    .col-md-4.px-md-2
      .card.mb-3
        .card-header
          +DocCardHeader('Name')
        .card-body.bg-light
          +componentCard
            +Avatar({size: '4xl', name: 'Emma Watson', round: 'circle' })

    .col-md-4.pl-md-2
      .card.mb-3
        .card-header
          +DocCardHeader('Emoji')
        .card-body.bg-light
          +componentCard
            +Avatar({size: '4xl', emoji: '🎁', round: 'circle' })
  
  
  .card.mb-3
    .card-header
      +DocCardHeader('Status')
    .card-body.bg-light
      +componentCard
        +AvatarStatusDemo
  .card.mb-3
    .card-header
      +DocCardHeader('Sizes')
    .card-body.bg-light
      +componentCard
        +AvatarSizesDemo
