extends ../layouts/LayoutComponent
include ../mixins/common/ComingSoon
append variables
  - var firstParent = 'components'              
  - var currentPage = 'fancytab'

append content
  .card.mb-3
    +ComingSoon