extends ../layouts/LayoutComponent
include ../mixins/components/Figures

append variables
  - var firstParent = 'components'
  - var currentPage = 'figures'
  -
    var pageHeader = {
      title: 'Figures',
      description: 'Documentation and examples for displaying related images and text with the figure component in Bootstrap.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/content/figures/`,
      linkText: 'Figures on Bootstrap'
    }

block component
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header
      +DocCardHeader('Example')
        +FigureExampleDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FigureExampleDemo

  .card.mb-3
    .card-header
      +DocCardHeader('Caption Alignment')
        +FigureCaptionAlignmentDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FigureCaptionAlignmentDemo      