extends ../layouts/LayoutComponent
include ../mixins/components/HoverBox

append variables
  - var firstParent = 'components'              
  - var currentPage = 'hoverbox'
  -
    var pageHeader = {
      title: 'Hoverbox',
      description: 'Style your card with a different design using theme Hoverbox',
    }

append content
  +PageHeader(pageHeader)

  .row.g-0
    .col-lg-6.pr-lg-2
      .card.mb-3
        .card-header
          +DocCardHeader('Example')
        .card-body.bg-light.overflow-hidden
          +componentCard
            +HoverBoxExampleDemo

    .col-lg-6.pl-lg-2
      .card.mb-3
        .card-header
          +DocCardHeader('Change Image')
        .card-body.bg-light.overflow-hidden
          +componentCard
            +HoverBoxChangeImageDemo
