extends ../layouts/LayoutComponent
include ../mixins/components/Images

append variables
  - var firstParent = 'components'
  - var currentPage = 'images'
  -
    var pageHeader = {
      title: 'Images',
      description: 'Documentation and examples for opting images into responsive behavior (so they never become larger than their parent elements) and add lightweight styles to them—all via classes.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/content/images/`,
      linkText: 'Images on Bootstrap'
    }

block component
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header
      +DocCardHeader('Responsive images')
        +ResponsiveImageDescription.mt-2.mb-0
    .card-body.bg-light.overflow-hidden
      +componentCard
        +ResponsiveImageDemo   

  .card.mb-3
    .card-header
      +DocCardHeader('Image thumbnails')
        +ImageThumbnailDescription.mt-2.mb-0
    .card-body.bg-light.overflow-hidden
      +componentCard
        +ImageThumbnailDemo   

  .card.mb-3
    .card-header
      +DocCardHeader('Aligning images')
        +AligningIageDescription
    .card-body.bg-light.overflow-hidden
      +AlignImageDemo     