extends ../layouts/LayoutComponent
include ../mixins/components/Modals


append variables
  - var firstParent = 'components'              
  - var currentPage = 'modals'
  -
    var pageHeader = {
      title: 'Modals',
      description: "List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.",
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/components/modal/`,
      linkText: 'Modal on Bootstrap'
    }

block component
  +PageHeader(pageHeader)
    
  .card.mb-3
    .card-header
      +DocCardHeader('Example')
    .card-body.bg-light
      +componentCard
        +ModalExampleDemo
