extends ../layouts/LayoutComponent
include ../mixins/components/Sidepanel

append variables
  - var firstParent = 'components'              
  - var currentPage = 'search'
  -
    var pageHeader = {
      title: 'Search',
      description: `An autocomplete search dropdown with Fuzzy Search feature.`,
      url: `https://listjs.com/docs/plugins/fuzzysearch/`,
      linkText: 'Fuzzy Search Documentation'
    }

append content
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header  
      +DocCardHeader('Example')
    .card-body.bg-light
      +Search('Search...')
      ul.bullet-inside.pl-0.my-3
        li Wrap your search area with 
          code .search-box 
          | class
        li Add 
          code .search-input 
          | to input field to trigger dropdown on focus.
        li Add 
          code data-toggle="search" 
          | in 
          code form 
          | element to enable dropdown behavior.
        li Add 
          code data-dismiss="search" 
          | to close dropdown on button click
        li To enable Fuzzy Search on search box add 
          code .fuzzy-search 
          | class in input field and follow the instruction of 
          a(href=`${CWD}plugins/list.html`) List.js
      +componentCardLib
        +Search('Search...')
