extends ../layouts/LayoutComponent
include ../mixins/components/Spinners

append variables
  - var firstParent = 'components'              
  - var currentPage = 'spinners'
  -
    var pageHeader = {
      title: 'Spinners',
      description: 'Indicate the loading state of a component or page with Bootstrap spinners, built entirely with HTML, CSS, and no JavaScript.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/components/spinners/`,
      linkText: 'Spinners on Bootstrap'
    }

 
block component
  +PageHeader(pageHeader)
    
  .card.mb-3
    .card-header  
      +DocCardHeader('Basic Example')
    .card-body.bg-light
      +componentCard
        +SpinnerBasicExampleDemo


  .card.mb-3
    .card-header  
      +DocCardHeader('Colors')
        +SpinnerColorsDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +SpinnerColorsDemo

  .card.mb-3
    .card-header  
      +DocCardHeader('Growing spinner')
        +SpinnerGrowingDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +SpinnerGrowingDemo

  .card.mb-3
    .card-header
      +DocCardHeader('Growing colors')
    .card-body.bg-light
      +componentCard
        +SpinnerGrowingColorDemo

  .card.mb-3
    .card-header
      +DocCardHeader('Size')
        +SpinnerSizeDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +SpinnerSizeDempo

  .card.mb-3
    .card-header
      +DocCardHeader('Buttons')
    .card-body.bg-light
      +componentCard
        +SpinnerButtonDemo

      



