extends ../layouts/LayoutComponent
include ../mixins/components/Toasts

append variables
  - var firstParent = 'components'              
  - var currentPage = 'toasts'
  -
    var pageHeader ={
      title: 'Toasts',
      description: 'Push notifications to your visitors with a toast, a lightweight and easily customizable alert message.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/components/toasts/`,
      linkText: 'Toasts on Bootstrap'
    } 

block component
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header  
      +DocCardHeader('Basic Example')
    .card-body.bg-light
      +componentCard
        +ToastBasicExampleDemo

  .card.mb-3
    .card-header  
      +DocCardHeader('Stacking')
        +ToastStackingDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +ToastStackingDemo

  .card.mb-3
    .card-header  
      +DocCardHeader('Placement')
        +ToastPlacementDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +RoastRightPlaceDemo
        
      +ToastMiddlePlaceDescription.mt-4
      +componentCard
        +RoastMiddlePlaceDemo



