include Mixins

mixin CardWeatherUpdate
  .card&attributes(attributes)
    .card-header.d-flex.flex-between-center.pb-0
      h6.mb-0 Weather
      +DashboardDropdown('dropdown-weather-update')
    .card-body.pt-2
      .row.g-0.h-100.align-items-center
        .col
          .d-flex.align-items-center
            img(src=`${CWD}assets/img/icons/weather-icon.png`, alt="" height="60").mr-3
            div
              h6.mb-2 New York City
              .fs--2.font-weight-semi-bold
                .text-warning Sunny
                | Precipitation: 50%

        .col-auto.text-center.pl-2
          .fs-4.font-weight-normal.font-sans-serif.text-primary.mb-1.lh-1 31&deg;
          .fs--1.text-800 32&deg; / 25&deg;

mixin CardMarketShare
  .card.h-md-100&attributes(attributes)
    .card-body
      .row.h-100.justify-content-between.g-0
        .col-5.col-sm-6.col-xxl.pr-2
          h6.mt-1 Market Share
          .fs--2.mt-3
            .d-flex.flex-between-center.mb-1
              .d-flex.align-items-center
                span.dot.bg-primary
                span.font-weight-semi-bold Samsung
              .d-xxl-none 33%
            .d-flex.flex-between-center.mb-1
              .d-flex.align-items-center
                span.dot.bg-info
                span.font-weight-semi-bold Huawei
              .d-xxl-none  29%
            .d-flex.flex-between-center.mb-1
              .d-flex.align-items-center
                span.dot.bg-300
                span.font-weight-semi-bold Apple
              .d-xxl-none  20%
        .col-auto.position-relative
          .echart-market-share
          .position-absolute.top-50.left-50.translate-middle.text-dark.fs-2 26M

mixin CardTotalOrder
  .card.h-md-100
    .card-header.pb-0
      h6.mb-0.mt-2 Total Order
    .card-body.pt-0
      .row.h-100
        .col.align-self-end
          .fs-4.font-weight-normal.font-sans-serif.text-700.lh-1.mb-1 58.4K
          span.badge.rounded-pill.fs--2.bg-200.text-primary
            span.fas.fa-caret-up.mr-1
            | 13.6%
        .col-auto.pl-0
          .echart-line-total-order.h-100

mixin CardWeeklySales
  .card.h-md-100
    .card-header.pb-0
      h6.mb-0.mt-2.d-flex.align-items-center Weekly Sales
        span.ml-1.text-400(data-toggle="tooltip" data-placement="top" title="Calculated according to last week's sales")
          span.far.fa-question-circle(data-fa-transform="shrink-1")
    .card-body.d-flex.align-items-end
      .row.flex-grow-1
        .col
          .fs-4.font-weight-normal.font-sans-serif.text-700.lh-1.mb-1 $47K
          span.badge.rounded-pill.fs--2.badge-soft-success +3.5%
        .col-auto.pl-0
          .echart-bar-weekly-sales.h-100
