include Mixins

append variables
  - 
    var users = [
      {
        name: 'Emma Watson',
        avatar: {
          img: 'team/1-thumb.png',
          size: '2xl',
          status: 'online'
        },
        role: 'Admin'
      },
      {
        name: 'Antony Hopkins',
        avatar: {
          img: 'team/2-thumb.png',
          size: '2xl',
          status: 'online'
        },
        role: 'Moderator'
      },
      {
        name: 'Anna Karinina',
        avatar: {
          img: 'team/3-thumb.png',
          size: '2xl',
          status: 'away'
        },
        role: 'Editor'
      },
      {
        name: 'John Lee',
        avatar: {
          img: 'team/4-thumb.png',
          size: '2xl',
          status: 'offline'
        },
        role: 'Admin'
      },
      {
        name: 'Rowen Atkinson',
        avatar: {
          img: 'team/5-thumb.png',
          size: '2xl',
          status: 'offline'
        },
        role: 'Editor'
      },
      {
        name: 'Bucky Robert',
        avatar: {
          img: 'team/6.jpg',
          size: '2xl',
          status: 'offline'
        },
        role: 'Editor'
      },
    ]

mixin ActiveUser(config)
  .d-flex.align-items-center.mb-3
    +Avatar(config.avatar)
    .flex-1.ml-3
      h6.mb-0.font-weight-semi-bold
        a(href=`${CWD}pages/profile.html`).text-900=config.name
      p.text-500.fs--2.mb-0=config.role

mixin CardActiveUsers(config)
  - var config = Object.assign({start: 0, end: 5}, config)
  .card&attributes(attributes)
    .card-header.d-flex.flex-between-center.bg-light.py-2
      h6.mb-0 Active Users
      +DashboardDropdown('dropdown-active-user')
    .card-body.py-2
      each user in users.slice(config.start, config.end)
        +ActiveUser(user)
    .card-footer.bg-light.p-0
      a.btn.btn-sm.btn-link.btn-block.py-2(href=`${CWD}pages/people.html`) All active users
        span.fas.fa-chevron-right.ml-1.fs--2

