mixin Faq(config)
  #accordionExample.accordion.border-x.border-top.rounded
    .card.shadow-none.border-bottom
      #headingOne.card-header.p-0
        button.btn.btn-link.text-decoration-none.btn-block.py-2.px-3.text-left(type="button" data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
          span.fas.fa-caret-right.accordion-icon.mr-3(data-fa-transform="shrink-2")
          span.font-weight-medium.font-sans-serif.text-900 How long do payouts take?
      #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
        .card-body.pt-2
          .pl-4 Once you’re set up, payouts arrive in your bank account on a 2-day rolling basis. Or you can opt to receive payouts weekly or monthly.
    .card.shadow-none.border-bottom
      #headingTwo.card-header.p-0
        button.btn.btn-link.text-decoration-none.btn-block.py-2.px-3.collapsed.text-left(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
          span.fas.fa-caret-right.accordion-icon.mr-3(data-fa-transform="shrink-2")
          span.font-weight-medium.font-sans-serif.text-900 How do refunds work?
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
        .card-body.pt-2
          .pl-4 You can issue either partial or full refunds. There are no fees to refund a charge, but the fees from the original charge are not returned.
    .card.shadow-none.border-bottom
      #headingThree.card-header.p-0
        button.btn.btn-link.text-decoration-none.btn-block.py-2.px-3.collapsed.text-left(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
          span.fas.fa-caret-right.accordion-icon.mr-3(data-fa-transform="shrink-2")
          span.font-weight-medium.font-sans-serif.text-900 How much do disputes costs?
      #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
        .card-body.pt-2
          .pl-4 Disputed payments (also known as chargebacks) incur a $15.00 fee. If the customer’s bank resolves the dispute in your favor, the fee is fully refunded.
    .card.shadow-none.border-bottom
      #headingFour.card-header.p-0
        button.btn.btn-link.text-decoration-none.btn-block.py-2.px-3.collapsed.text-left(data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
          span.fas.fa-caret-right.accordion-icon.mr-3(data-fa-transform="shrink-2")
          span.font-weight-medium.font-sans-serif.text-900 Is there a fee to use Apple Pay or Google Pay?
      #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
        .card-body.pt-2
          .pl-4 There are no additional fees for using our mobile SDKs or to accept payments using consumer wallets like Apple Pay or Google Pay.

mixin FaqItem(config)
    - var config = Object.assign({url: '#!', hr: true}, config)
    h6 
      a(href=config.url)=config.title
        span.fas.fa-caret-right(data-fa-transform="right-7")
    p.fs--1.mb-0=config.description
    if config.hr
      hr.my-3 
       
mixin FaqFooter
  .card-footer.d-flex.align-items-center.bg-light
      h5.d-inline-block.mr-3.mb-0.fs--1 Was this information helpful?
      button.btn.btn-falcon-default.btn-sm Yes
      button.btn.btn-falcon-default.btn-sm.ml-2 No
