<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <title>TEF Refeitório</title>
</head>

<body>
    <center>
        <h1>Cargos</h1>
    </center>
    <div class="container">
        <center>
            <button class="btn btn-outline-success" type="button" data-toggle="modal" id="btInsereCargo" hidden>
                <svg width="1em" height="1em" viewBox="1 0 16 16" class="bi bi-journal-plus" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                    <path
                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                    <path fill-rule="evenodd"
                        d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z" />
                </svg>Inserir
            </button>
            <button class="btn btn-outline-warning" type="button" data-toggle="modal" disabled id="btEditaCargo" hidden>
                <svg width="1em" height="1em" viewBox="1 0 16 16" class="bi bi-journal-medical" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                    <path
                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                </svg>Editar
            </button>
            <button class="btn btn-outline-danger" type="button" data-toggle="modal" disabled id="btExcluiCargo" hidden>
                <svg width="1em" height="1em" viewBox="1 0 16 16" class="bi bi-journal-x" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                    <path
                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                    <path fill-rule="evenodd"
                        d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z" />
                </svg>Excluir
            </button>
        </center>
    </div>
    <br>
    <table class="table table-sm table-hover" id="tbCargos" style="width: 100%;">
        <thead class="thead-dark"></thead>
        <caption>Lista de cargos.</caption>
    </table>

    <div id="mbCargo" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body ">

                    <div class="row">
                        <div class="col-2 col-form-label">
                            <label>Nome:</label>
                        </div>
                        <div class="col-10">
                            <input class="form-control" type="text" id="edtNomeCargo">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-danger" id="btnCancelar" type="button" value="Cancelar" data-dismiss="modal">
                    <input class="btn btn-primary" id="btConfirmEditaCargo" type="button" value="Editar"
                        data-dismiss="modal" hidden>
                    <input class="btn btn-primary" id="btConfirmInserirCargo" type="button" value="Inserir"
                        data-dismiss="modal" hidden>
                </div>
            </div>
        </div>
    </div>

    <div id="mbDeleteCargo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Excluir Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <center>
                        <h4>Confirma a exclusão do cargo?</h4>
                    </center>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-danger" type="button" value="Cancelar" data-dismiss="modal">
                    <input class="btn btn-primary" id="btConfirmExcluiCargo" type="button" value="Excluir"
                        data-dismiss="modal">
                </div>
            </div>

        </div>
    </div>

    <div class="modal hide fade" id="mbSpanCargos" tabindex="-1" data-backdrop="static"
    aria-labelledby="exampleModalCenterTitle" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
            <div class="modal-body">

                <span  id = 'labelSpanCargos'></span> 

            </div>
            <div class="modal-footer">
                <button id='funcSpan'
                class="btn btn-outline-success" onclick="backCargos('auto-close')">Ok
            </button>
            </div>  
        </div>
    </div>
</div>
</body>

<script src="./views/cargos/cargos.js"></script>

</html>