include ../pages/Billing
include ../e-commerce/ShoppingCart
include ../e-commerce/Mixins

mixin ECommerce
  +WidgetSectionTitle({
    transform: 'shrink-4',
    icon: 'fas fa-cart-plus',
    title: 'E-commerce',
    subtitle: `Find more cards which are dedicatedly made for E-commerce.`
  }).mb-4.mt-6 

  +ShoppingCart.mb-3

  .row.g-0       
    .col-lg-6.col-xxl-4.pr-lg-2.mb-3.mb-lg-0
      +BillingStartButton.h-100
    .col-lg-6.col-xxl-4.pl-lg-2
      +OrderSummary
