include ../home/dashboard-alt/CardDipositeStatus
include ../home/dashboard-alt/CardWorldMap
include ../common/PageHeader
include ../authentication/LogOutContent
include ../authentication/ConfirmMailContent
include ../pages/Settings

mixin Others
  +WidgetSectionTitle({
    transform: 'shrink-2',
    icon: 'fas fa-folder-plus',
    title: 'Others',
    subtitle: `Get more awesome cards for showing your different types of content..`
  }).mb-4.mt-6

  .row.g-0
    .col-xxl-8.pr-xxl-2.mb-3.d-flex.flex-column.align-items-stretched
      +BillingPageHeader.h-xxl-100
      +CardDipositeStatus.mb-3.h-xxl-100
      +EventCreateFooter.mb-3.h-xxl-100
      +BirthdayNotification.h-xxl-100
    .col-lg-6.col-xxl-4.pl-xxl-2.mb-3
      +SettingsDanzerZone.mb-3.mb-xxl-0.h-xxl-100
  .row.g-0
    .col-xl-5.col-xxl-4.pr-xl-2
      .row.g-0
        .col-lg-4.col-xl-12.pr-lg-2.pr-xl-0.mb-3
          +CardWeatherUpdate.h-100
        .col-lg-5.col-xl-12.px-lg-2.px-xl-0.mb-3
          +CardStorageSpaceStatus
        .col-lg-3.col-xl-12.pl-lg-2.pl-xl-0.mb-3
          .card.h-100
            +Background({
              image: `${CWD}assets/img/illustrations/corner-4.png`, 
              className:"d-none d-xl-block bg-card",
              attrs: {
                style: 'opacity: 0.7'
              }
            })
            .card-body
              h5 Order Details: #2737
              p.fs--1 April 21, 2019, 5:33 PM
              div
                strong.mr-2 Status: 
                .badge.rounded-pill.badge-soft-success.fs--2 Completed
                  span.fas.fa-check.ml-1(data-fa-transform="shrink-2")
    .col-xl-7.col-xxl-8.pl-xl-2.mb-3
      +CardWorldMap
  .row.g-0
    .col-lg-6.pr-lg-2.mb-3.mb-lg-0
      +LayoutAuthBasicCard.h-100
        +LogOutContent.text-center
    .col-lg-6.pl-lg-2
      +LayoutAuthBasicCard
        +ConfirmMailContent.text-center