
include ../pages/profile/Experience
include ../e-commerce/Customers
include ../home/dashboard-alt/CardRecentPurchaseTable

mixin Tables
  +WidgetSectionTitle({
    transform: 'shrink-2',
    icon: 'fas fa-list',
    title: 'Tables, Files, and Lists',
    subtitle: `${name}'s styled components are dedicatedly made for displaying your contents and lists.`
  }).mb-4.mt-6

  +CardRecentPurchaseTable
  +Customers
  .row.g-0
    .col-lg-5.col-xxl-6.pr-lg-2.mb-3
      +CardProjects
    .col-lg-7.col-xxl-6.pl-lg-2.mb-3
      +CardBestProducts
    .col-lg-6.pr-lg-2.mb-3.mb-lg-0
      +CardSharedFiles(1)
    .col-lg-6.pl-lg-2
      +Experience.h-100