mixin WidgetSectionTitle({ title, subtitle, icon, transform})
  .d-flex&attributes(attributes)
    span.fa-stack.mr-2.ml-n1
      i.fas.fa-circle.fa-stack-2x.text-300
      i.fa-inverse.fa-stack-1x.text-primary(data-fa-transform=transform class=icon)
    .flex-1
      h5.mb-0.text-primary.position-relative
        span.bg-200.pr-3=title
        span.border.position-absolute.top-50.translate-middle-y.w-100.left-0.z-index--1
      p.mb-0=subtitle
