//---------------------------------------
  | Top Navigation Cards
//---------------------------------------
mixin CardNotification
  .card.card-notification.shadow-none&attributes(attributes)
    .card-header
      .row.justify-content-between.align-items-center
        .col-auto
          h6.card-header-title.mb-0 Notifications
        .col-auto
          a.card-link.font-weight-normal(href='#') Mark all as read
    .list-group.list-group-flush.font-weight-normal.fs--1
      .list-group-title.border-bottom NEW
      .list-group-item
        +Notification({
          avatar: {size: '2xl', img: 'team/1-thumb.png'},
          body: '<strong>Emma Watson</strong> replied to your comment : "Hello world 😍"',
          time: 'Just now',
          emoji: '💬',
        }).notification-flush.notification-unread
      .list-group-item
        +Notification({
          avatar: {size: '2xl', name: 'Albert Brooks'},
          body: '<strong>Albert Brooks</strong> reacted to <strong>Mia Khalifa\'s</strong> status',
          time: '9hr',
          icon: 'fab fa-gratipay text-danger'
        }).notification-flush.notification-unread
      .list-group-title.border-bottom EARLIER
      .list-group-item
        +Notification({
          avatar: {size: '2xl', img: 'icons/weather-sm.jpg'},
          body: 'The forecast today shows a low of 20&#8451; in California. See today\'s weather.',
          time: '1d',
          emoji: '🌤️'
        }).notification-flush
    .card-footer.text-center.border-top
      a.card-link.d-block(href=`${CWD}pages/notifications.html`) View all

      
mixin CardUserPreferences
  .bg-white.rounded-lg.py-2&attributes(attributes)
    = '\n'
    a(href='#!').dropdown-item.font-weight-bold.text-warning
      span.fas.fa-crown.mr-1
      span Go Pro
    = '\n'
    .dropdown-divider
    = '\n'
    a(href='#!').dropdown-item Set status
    = '\n'
    a(href=`${CWD}pages/profile.html`).dropdown-item Profile &amp; account
    = '\n'
    a(href='#!').dropdown-item Feedback
    = '\n'
    .dropdown-divider
    = '\n'
    a(href=`${CWD}pages/settings.html`).dropdown-item Settings
    = '\n'
    a(href=`${CWD}authentication/card/logout.html`).dropdown-item Logout
