mixin CardAuthenticationSplit
  .card&attributes(attributes)
    .card-header.bg-circle-shape.text-center.p-2
      a(href=`${CWD}index.html`).font-sans-serif.font-weight-bolder.fs-4.z-index-1.position-relative.link-light falcon
    .card-body.p-4
      block