mixin SocialButtons(config)
  .position-relative&attributes(attributes)
    hr.bg-300
    .position-absolute.top-50.left-50.translate-middle.px-3.bg-white.font-sans-serif.fs--1.text-500.text-nowrap or #{config.title} with
  .row.g-2.mt-2
    .col-sm-6
      a.btn.btn-outline-google-plus.btn-sm.btn-block(href='#')
        span.fab.fa-google-plus-g.mr-2(data-fa-transform='grow-8')
        |  google
    .col-sm-6
      a.btn.btn-outline-facebook.btn-sm.btn-block(href='#')
        span.fab.fa-facebook-square.mr-2(data-fa-transform='grow-8')
        |  facebook
