<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<!--
<head>
    <title>TEF Refeitório</title>
</head>
-->

<body>

    <div class="modal hide fade" id="mbLogin" tabindex="-1" data-backdrop="static"
        aria-labelledby="exampleModalCenterTitle" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="form-signin-heading">TEF Refeitório</h3>

                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="form-group">
                            <div class="row">
                                <input type="text" id='login' class="form-control" placeholder="Usuário *" value="" />
                                <span id="userNamSpan"></span>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <input type="password" id='senha' class="form-control" placeholder="Senha *" value="" />
                                <span id="passwordSpan"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success form-control" data-toggle="modal"
                        data-target="#myMessageModal" data-dismiss="modal" id="btAcessoLogin">Entrar</button>
                </div>


            </div>
        </div>
    </div>


    <div class="modal hide fade" id="mbLogin2" tabindex="-1" data-backdrop="static"
        aria-labelledby="exampleModalCenterTitle" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="form-signin-heading">TEF Refeitório</h3>

                </div>
                <div class="modal-body">

                    <h4 class="card-title">Acesso não autorizado</h4>
                    <p class="card-description">Dados incorretos</p> 
                        

                </div>
                <div class="modal-footer">
                    <button id='funcSpan'
                    class="btn btn-outline-success" onclick="showSwal('auto-close')">Ok
                </button>
                </div>  
            </div>
        </div>
    </div>






</body>

<script src="./views/usuarios/usuarios.js"></script>
<script src="./views/login/login.js"></script>

</html>