<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<!--
<head>
    <title>TEF Refeitório</title>
</head>
-->

<body>




    <div class="modal fade bd-example-modal-sm" id="mbLogin2" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" role="dialog" >
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="form-signin-heading">Bem-vindo! TEF Refeitório</h3>

            </div>
            <div class="modal-body">

              
          
                <h4 class="card-title">Alerts Popups</h4>
                <p class="card-description">A message with auto close timer</p> <button id = 'funcSpan'class="btn btn-outline-success" onclick="showSwal('auto-close')">Click here!</button>
           
           
        </div>
    </div>
    </div>
    </div>


    
</body>

<script src="./views/usuarios/usuarios.js"></script>

<script src="./views/login/login.js"></script>

</html>