extends ../layouts/LayoutTheme
include ../mixins/e-commerce/OrderDetails

append variables
  - var CWD = '../';
  - var firstParent = 'e-commerce';
  - var currentPage = 'order-details';

append content
  .card.mb-3
    +Background({
      image: `${CWD}assets/img/illustrations/corner-4.png`, 
      className:"d-none d-lg-block bg-card",
      attrs: {
        style: 'opacity: 0.7'
      }
    })
    +OrderDetailsHeader
  +Address
  +ProductsTable
  