extends ../layouts/LayoutTheme
include ../mixins/e-commerce/Orders

append variables
  - var CWD = '../';
  - var firstParent = 'e-commerce';
  - var currentPage = 'orders';

append scripts
  script(src=`${CWD}vendors/list.js/list.min.js`)

append content
  +Orders