extends ../layouts/LayoutTheme
include ../mixins/e-commerce/ShoppingCart

append variables
  - var CWD = '../'
  - var firstParent ='e-commerce'              
  - var currentPage = 'shopping-cart' 

append content
  +ShoppingCart