extends ../layouts/LayoutComponent

block append variables
  - var firstParent ='plugins'              
  - var currentPage = 'anchor' 
  - 
    var pageHeader = {
      title: 'Anchor',
      description: 'A JavaScript utility for adding deep anchor links to existing page content. AnchorJS is lightweight, accessible, and has no dependencies.',
      url: `https://github.com/bryanbraun/anchorjs`,
      linkText: 'Documentation for AnchorJS'
    }

block append content
  +PageHeader(pageHeader)
  
  .card.mb-3
    .card-header
      h5.mb-0(data-anchor) Example
    .card-body.bg-light
      +componentCard
        h3(data-anchor) Basic Anchor Tag
  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light   
      +componentCardLib
        script(src=`vendors/anchorjs/anchor.min.js`)