extends ../layouts/LayoutComponent
include ../mixins/common/ComingSoon

block append variables
  - var firstParent ='plugins'              
  - var currentPage = 'choices' 
  - var CWD = '../'
  - 
    var pageHeader = {
      title: 'Choices',
      description: 'Choices.js is a lightweight, configurable select box/text input plugin. Similar to Select2 and Selectize but without the jQuery dependency',
      url: `https://joshuajohnson.co.uk/Choices/`,
      linkText: 'Documentation for Choices'
    }


block prepend styles
  link(href=`${CWD}vendors/choices/choices.min.css`, rel='stylesheet')

block prepend scripts
  script(src=`${CWD}vendors/choices/choices.min.js`)
  

block append content
  +PageHeader(pageHeader)
  
  .card.mb-3
    .card-header
      h5.mb-0(data-anchor) Example
    .card-body.bg-light
      .row
        .col-lg-6
          +componentCard
            label(for="organizerMultiple") Multiple
            select.form-select.js-choice#organizerMultiple(multiple size="1" name="organizerMultiple"  data-options!={removeItemButton: true,placeholder: true})
              option(value="") Select organizer...
              option Massachusetts Institute of Technology
              option University of Chicago
              option GSAS Open Labs At Harvard
              option California Institute of Technology
        .col-lg-6.mt-3.mt-lg-0
          +componentCard
            label(for="organizerSingle") Single
            select.form-select.js-choice#organizerSingle(size="1" name="organizerSingle"  data-options!={removeItemButton: true,placeholder: true})
              option(value="") Select organizer...
              option Massachusetts Institute of Technology
              option University of Chicago
              option GSAS Open Labs At Harvard
              option California Institute of Technology
  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light   
      +componentCardLib
        script(src=`vendors/choices/choices.min.js`)
  .card.mb-3
    .card-header
      h5.mb-0 styleSheet
    .card-body.bg-light   
      +componentCardLib
        link(href=`vendors/choices/choices.min.css`, rel='stylesheet')
