extends ../layouts/LayoutComponent
include ../mixins/common/ComingSoon

block append variables
  - var firstParent ='plugins'              
  - var currentPage = 'dropzone'
  - var CWD = '../'
  - 
    var pageHeader = {
      title: 'Dropzone',
      description: 'DropzoneJS is an open-source library that provides drag & drop file uploads with image previews.',
      url: `https://www.dropzonejs.com/`,
      linkText: 'Documentation for Dropzone'
    }
prepend styles
  link(href=`${CWD}vendors/dropzone/dropzone.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/dropzone/dropzone.min.js`)

block append content
  +PageHeader(pageHeader)
  
  .card.mb-3
    .card-header
      h5 Single File Upload
      p 
        code Dropzone 
        | requires a valid server-side url for the file upload. You can easily pass it through 
        code data-options 
        | attribute.
      pre.mb-2
        code.lang-html.
          data-options!={ url: 'valid/url'}
    .card-body.bg-light
      +componentCard
        .dropzone.dropzone-single.p-0(data-dropzone data-options!={ url: 'valid/url', maxFiles: 1, dictDefaultMessage: 'Choose or Drop a file here' })
          .fallback
            input(type="file" name="file")
          .dz-preview.dz-preview-single
            .dz-preview-cover.dz-complete
              img.dz-preview-img(src='...', alt='...', data-dz-thumbnail='')
              a(href="#!" data-dz-remove).dz-remove.text-danger
                span.fas.fa-times
              .dz-progress
                span.dz-upload(data-dz-uploadprogress='')

          .dz-message(data-dz-message)
            .dz-message-text
              img(src=`${CWD}assets/img/icons/cloud-upload.svg`, width=25 alt="").mr-2
              | Drop your file here

  .card.mb-3
    .card-header 
      h5.mb-0 Multiple File Upload
    .card-body.bg-light
      +componentCard
        form.dropzone.dropzone-multiple.p-0#my-awesome-dropzone(data-dropzone action='../assets/img/')
          .fallback
            input(name='file', type='file', multiple)
          .dz-message(data-dz-message) 
            img(src=`${CWD}assets/img/icons/cloud-upload.svg`, width=25 alt="").mr-2
            | Drop your files here
          .dz-preview.dz-preview-multiple.m-0.d-flex.flex-column
            .d-flex.media.align-items-center.mb-3.pb-3.border-bottom.btn-reveal-trigger
              img(src="...", alt="..." data-dz-thumbnail).dz-image
              .flex-1.d-flex.flex-between-center
                div
                  h6(data-dz-name)
                  .d-flex.align-items-center
                    p.mb-0.fs--1.text-400.lh-1(data-dz-size)
                    .dz-progress
                      span.dz-upload(data-dz-uploadprogress='')
                .dropdown.font-sans-serif
                  button.btn.btn-link.text-600.btn-sm.dropdown-toggle.btn-reveal.dropdown-caret-none(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    span.fas.fa-ellipsis-h
                  .dropdown-menu.dropdown-menu-right.border.py-2
                    a.dropdown-item(href="#!" data-dz-remove) Remove File
  .card.mb-3
    .card-header
      h5.mb-0 Stylesheet
    .card-body.bg-light
      +componentCardLib
        link(href=`vendors/dropzone/dropzone.min.css`, rel='stylesheet')

  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`vendors/dropzone/dropzone.min.js`)
