extends ../layouts/LayoutComponent
include ../mixins/home/dashboard-alt/CardRecentPurchaseTable

block append variables
  - var firstParent ='plugins'              
  - var currentPage = 'list' 
  - var CWD = '../'
  -
    var pageHeader = {
      title: 'List.js',
      description: 'Tiny, invisible and simple, yet powerful and incredibly fast vanilla JavaScript that adds search, sort, filters and flexibility to plain HTML lists, tables, or anything.',
      url: `https://listjs.com/`,
      linkText: 'Documentation for List.js'
    };

prepend scripts
  script(src=`${CWD}vendors/list.js/list.min.js`)

block append content
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header
      +DocCardHeader('Docs')
    .card-body.bg-light
      p Integrate List in #{name} by following these easy steps: 
      ul
        li Set unique ID and add 
          code data-list 
          | attribute to the wrapper element  and list your column in 
          code valueNames 
          | property. 
          +componentCardLib 
            #tableExample(data-list!={ valueNames: ["name", "email", "age"]})
              // Your list content will go here
        li To enable sorting in your column, add 
          code data-sort 
          | attribute and assign column name to the attribute. 

          +componentCardLib 
            th.sort(data-sort="name") Customer
        li Add 
          code list 
          | class to the content wrapper element.

          +componentCardLib 
            tbody.list 
              // Your value will go here

        li Then wrap your value with column name as a class. For example, if your column name is 
          code name 
          | then the value will be look like this:
          +componentCardLib 
            td.name John Doe
        li To add pagination add 
          code .pagination 
          | class inside your wrapper element
        li To enable  button pagination add 
          code data-list-pagination='prev' 
          | and 
          code data-list-pagination='next' 
          | to the "Prev" and "Next" buttons respectively.
        li To see the list info, add 
          code data-list-info
          |  attribute to a DOM element inside your wrapper element.

  .card.mb-3
    .card-header.bg-light
      +DocCardHeader('Table Example')
    .card-body
      +componentCard
        #tableExample(data-list!={
          valueNames: ['name', 'email', 'age'],
          page: 5,
          pagination: true
        })
          table.table.table-bordered.table-striped.fs--1
            thead.bg-200.text-900
              tr
                th.sort(data-sort="name") Name
                th.sort(data-sort="email") Email
                th.sort(data-sort="age") Age
            tbody.list
              tr
                td.name Anna
                td.email anna@example.com
                td.age 18
              tr
                td.name Homer
                td.email homer@example.com
                td.age 35
              tr
                td.name Oscar
                td.email oscar@example.com
                td.age 52
              tr
                td.name Emily
                td.email emily@example.com
                td.age 30
              tr
                td.name Jara
                td.email jara@example.com
                td.age 25
              tr
                td.name Clark
                td.email clark@example.com
                td.age 39
          .row.align-items-center
            .pagination.d-none
            .col
              p.mb-0.fs--1
                ='\n'
                span.d-none.d-sm-inline-block(data-list-info)
                ='\n'
                span.d-none.d-sm-inline-block  &mdash; 
                ='\n'
                a.font-weight-semi-bold(href='#!' data-list-view="*")
                  | View all
                  span.fas.fa-angle-right.ml-1(data-fa-transform='down-1')
            .col-auto.d-flex
              button.btn.btn-sm(type='button' data-list-pagination='prev')
                span Previous
              button.btn.btn-sm.px-4.ml-2(type='button' data-list-pagination='next')
                span Next


  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`vendors/list.js/list.min.js`)


  +PageHeader({
    title: "Complex example with bulk select",
    headerClass: 'fs-2',
    description: 'You can see the bulk select implemention for better understanding.',
    url: `${CWD}components/bulk-select.html`,
    linkText: 'Bulk Select documentation'
  })
  +componentCard
    +CardRecentPurchaseTable