extends ../layouts/LayoutComponent

block append variables
  - var CWD = '../'
  - var firstParent = 'plugins'
  - var currentPage = 'progressbar'
  - 
    var pageHeader = {
      title: 'Progressbar',
      description: `progress visualizers are available in theme: <code> .progress-circle </code>. For more Details see `,
      url: 'https://kimmobrunfeldt.github.io/progressbar.js/',
      linkText: 'Doc for progressbar'
    
    }

block prepend scripts
  script(src=`https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js`)
  script(src=`${CWD}vendors/progressbar/progressbar.min.js`)

block append content
  +PageHeader(pageHeader)
  .card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        .progress-circle.mb-4(data-options!={progress: 96})

  .card
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`vendors/progressbar.js/progressbar.min.js`)
  
