extends ../layouts/LayoutComponent

block prepend scripts
  script(src=`${CWD}vendors/tinymce/tinymce.min.js`)

block append variables
  - var firstParent = 'plugins'
  - var currentPage = 'tinymce'

block append content
  +PageHeader({title: 'Tinymce'})
    p.mt-2 #{name} uses Tinymce, the world's most popular JavaScript library for rich text editing.
    a(href='https://www.tiny.cloud/docs/quick-start/' target='_blank').btn.btn-link.pl-0.btn-sm  Tinymce documentations
      span.fas.fa-chevron-right.ml-1.fs--2
  .card.mb-3
    .card-header.bg-light
      h5.mb-0 Example
    .card-body.p-0
      +componentCard
        .min-vh-50
          = '\n'
          textarea.tinymce.d-none(name='content')
          = '\n'
  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light   
      +componentCardLib
        script(src=`vendors/tinymce/tinymce.min.js`)
