<center>
    <h1>Funcionários</h1>
</center>

<div class="container">
    <center>
        <button class="btn btn-outline-warning" type="button" data-toggle="modal" disabled id="btEditaFuncionario">
            <svg width="1em" height="1em" viewBox="1 0 16 16" class="bi bi-person-lines-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
            </svg>Editar
        </button>
        <button class="btn btn-outline-danger" type="button" data-toggle="modal" disabled id="btExcluiFuncionario">
            <svg width="1em" height="1em" viewBox="1 0 16 16" class="bi bi-person-x-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
            </svg>Excluir
        </button>
    </center>
</div>

<table class="table table-sm table-hover" id="tbFuncionario" style="width: 100%;">
    <thead class="thead-dark"></thead>
    <caption>Lista de funcionarios.</caption>
</table>

<!-- Modal -->
<div id="mbFuncionario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Funcionário</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <input type="text" id="ID" seleted hidden>
                    <div class="col-3 col-form-label">
                        <label>Nome: </label>
                    </div>

                    <div class="col-9 form-group">
                        <input class="form-control" type="text" id="edtNomeFuncionario">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-form-label">
                        <label>Crachá:</label>
                    </div>

                    <div class="col-9 form-group">
                        <input class="form-control" type="text" id="edtCrachaFuncionario" minlength="16" maxlength="16"
                            disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-form-label">
                        <label>Empresa:</label>
                    </div>
                    <div class="col-9 form-group">
                        <select class="form-control" id="selectEmpresas">
                            <option value="-1">Selecione...</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-form-label">
                        <label>Setor:</label>
                    </div>

                    <div class="col-9 form-group">
                        <select class="form-control" id="selectSetores">
                            <option value="-1">Selecione...</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-form-label">
                        <label>Departamento:</label>
                    </div>

                    <div class="col-9 form-group">
                        <select class="form-control" id="selectDepartamento">
                            <option value="-1">Selecione...</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-form-label">
                        <label>Função:</label>
                    </div>

                    <div class="col-9 form-group">
                        <select class="form-control" id="selectCargo">
                            <option value="-1">Selecione...</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-form-label">
                        <label>Admissão:</label>
                    </div>

                    <div class="col-9 form-group">
                        <input class="form-control" type="date" id="edtAdmissaoFuncionario">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-form-label">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cbAtivo">
                            <label class="form-check-label">
                                Ativo
                            </label>
                        </div>
                    </div>

                    <div class="col-3 col-form-label">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cbSupervisor" disabled>
                            <label class="form-check-label">
                                Supervisor
                            </label>
                        </div>
                    </div>

                    <div class="col-7">
                        <input class="form-control" type="password" id="edtSenha" minlength="6" maxlength="6"
                            placeholder="Senha *" required hidden>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input class="btn btn-outline-danger" id="btnCancelar" type="button" value="Cancelar"
                    data-dismiss="modal">
                <input class="btn btn-outline-success" id="btConfirmEditaFuncionario" type="button" value="Salvar"
                    data-dismiss="modal">
            </div>
        </div>
    </div>
</div>

<div id="mbDeleteFuncionario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Excluir Funcionário</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <center>
                    <h4>Confirma a exclusão do funcionário?</h4>
                </center>
            </div>
            <div class="modal-footer">
                <input class="btn btn-danger" type="button" value="Cancelar" data-dismiss="modal">
                <input class="btn btn-primary" id="btConfirmExcluiFuncionario" type="button" value="Excluir"
                    data-dismiss="modal">
            </div>
        </div>

    </div>
</div>

<script src="./view/funcionarios/funcionarios.js"></script>