extends ../layouts/LayoutComponent
include ../mixins/utilities/ColoredLinks

append variables
  - var firstParent = 'utilities'
  - var currentPage = 'colored-links'
  -
    var pageHeader = {
      title: 'Colored links',
      description: 'Colored links with hover states',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/helpers/colored-links/`,
      linkText: 'Colored links on Bootstrap'
    }

append content

  +PageHeader(pageHeader)

  .card
    .card-header
      +DocCardHeader('Example')
        +ColoredLinksExampleDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +ColoredLinksDemo

  .card
    .card-header
      +DocCardHeader('Grays')
    .card-body.bg-light
      +componentCard
        +GraysColoredLinksDemo


