extends ../layouts/LayoutComponent
include ../mixins/utilities/Embed
append variables
  - var firstParent = 'utilities'
  - var currentPage = 'embed'
  -
    var pageHeader = {
      title: 'Embed',
      description: 'Create responsive video or slideshow embeds based on the width of the parent by creating an intrinsic ratio that scales on any device.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/helpers/embed/`,
      linkText: 'Embed on Bootstrap'
    }

append content
  +PageHeader(pageHeader)

  .card.mb-3
    .card-header
      +DocCardHeader('Example')
        +EmbedExampleDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +EmbedExampleDemo



