extends ../layouts/LayoutComponent
include ../mixins/utilities/Flex


append variables
  - var firstParent = 'utilities'
  - var currentPage = 'flex'
  -
    var pageHeader = {
      title: 'Flex',
      description: 'Quickly manage the layout, alignment, and sizing of grid columns, navigation, components, and more with a full suite of responsive flexbox utilities. For more complex implementations, custom CSS may be necessary.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/utilities/flex/`,
      linkText: 'Flex on Bootstrap'
    }


append content
  +PageHeader(pageHeader)
  .card.mb-3
    .card-header
      +DocCardHeader('Flex Behaviors')
        +FlexBehaviorsDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexBasic

  .card.mb-3
    .card-header
      +DocCardHeader('Direction')
        +FlexDirectionDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexDirection.flex-row
        +FlexDirection.flex-row-reverse
      p.mt-3 Use
        code .flex-column 
        | to set a vertical direction, or
        code .flex-column-reverse 
        | to start the vertical direction from the opposite side
      +componentCard
        +FlexDirection.flex-column
        +FlexDirection.flex-column-reverse

  .card.mb-3
    .card-header
      +DocCardHeader('Justify Content')
        +FlexJustifyContentDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexJustifyContent
  .card.mb-3
    .card-header
      +DocCardHeader('Align items')
        +FlexAlignItemDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexAlignItem

  .card.mb-3
    .card-header
      +DocCardHeader('Align self')
        +FlexAlignSelfDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexAlignSelf("start").align-self-start
        +FlexAlignSelf("end").align-self-end
        +FlexAlignSelf("center").align-self-center
        +FlexAlignSelf("baseline").align-self-baseline
        +FlexAlignSelf("stretch").align-self-stretch

  .card.mb-3
    .card-header
      +DocCardHeader('Fill')
        +FlexFillDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexFill
  .card.mb-3
    .card-header
      +DocCardHeader('Grow and Shrink')
        +FlexGrowShrinkDescription.mt-2.mb-0

    .card-body.bg-light
      +componentCard
        +FlexShrink
  .card.mb-3
    .card-header
      +DocCardHeader('Auto margins')
        +FlexAutoMarginDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexMargin
  .card.mb-3
    .card-header
      +DocCardHeader('With align items')
        +FlexAlignItemDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexWithAlignItems.align-items-start
        +FlexWithAlignItems.align-items-end
  .card.mb-3
    .card-header
      +DocCardHeader('Wrap')
        +FlexWrapDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexNoWrap
        +FlexWrap.flex-wrap
        +FlexWrap.flex-wrap-reverse

  .card.mb-3
    .card-header
      +DocCardHeader('Order')
        +FlexOrderDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexOrder
  .card.mb-3
    .card-header
      +DocCardHeader('Align content')
        +FlexAlignContentDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +FlexAlignContent.align-content-start
        +FlexAlignContent.align-content-center
        +FlexAlignContent.align-content-end
        +FlexAlignContent.align-content-between
        +FlexAlignContent.align-content-around
        +FlexAlignContent.align-content-stretch
