extends ../layouts/LayoutComponent
include ../mixins/utilities/TextTrunCation

append variables
  - var firstParent = 'utilities'
  - var currentPage = 'text-truncation'
  -
    var pageHeader = {
      title: 'Text Truncation',
      description: 'Truncate long strings of text with an ellipsis.',
      url: `https://v5.getbootstrap.com/docs/${bootstrapVersion}/helpers/text-truncation/`,
      linkText: 'Text Truncation on Bootstrap'
    }

append content
  +PageHeader(pageHeader)
  .card.mb-3
    .card-header
      +DocCardHeader('Example')
        +TextTrunCationExampleDescription.mt-2.mb-0
    .card-body.bg-light
      +componentCard
        +TextTruncationExampleDemo
        


