extends ../layouts/LayoutFeed
include ../mixins/common/Media
include ../mixins/pages/profile/Events

append variables
  - var CWD = '../'
  - var firstParent = 'pages'
  - var currentPage = 'event-detail'

prepend scripts
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)

block feedBanner
  +EventBannerDetails
  
block feed  
  +EventDetails

block feedSideBar
  +EventTimeLocation
  +Events({more: true, title: 'Events you may like'})
      