extends ../layouts/LayoutTheme
include ../mixins/common/Media
include ../mixins/pages/profile/Events

append variables
  - var CWD = '../'
  - var firstParent = 'pages'
  - var currentPage = 'events'

append content
  +Events
