extends ../layouts/LayoutTheme
include ../mixins/pages/Invoice

append variables
  - var CWD = '../'
  - var firstParent = 'pages'
  - var currentPage = 'invoice'

append content
  +InvoiceHeader
  +Invoice
    














