extends ../../layouts/LayoutTheme
include ../../layouts/LayoutBasic
include ../../mixins/errors/Mixins

append variables
  - var CWD = '../../'
  - var firstParent = 'pages'              
  - var currentPage = '404' 

block wrapperContent
  +Error404