extends ../../layouts/LayoutTheme
include ../../layouts/LayoutBasic
include ../../mixins/errors/Mixins
  
append variables
  - var CWD = '../../' 
  - var firstParent = 'pages'              
  - var currentPage = '500' 

block wrapperContent
  +Error500