include ../authentication/LoginForm
include ../authentication/SocialButtons
include Mixins
        
mixin NavbarStandard
  nav.navbar.navbar-standard&attributes(attributes)
    .container
      +NavbarBrand({ image: false })
      button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarStandard', aria-controls='navbarStandard', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarStandard.collapse.navbar-collapse.scrollbar
        +NavbarNavLinks         
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href=`${CWD}index.html`)
              span.d-none.d-lg-inline-block(data-toggle="tooltip" data-placement="bottom" title="Dashboard")
                span.fas.fa-chart-pie
              span.d-lg-none Dashboard
          li.nav-item
            a.nav-link(href=`${CWD}home/feed.html`)
              span.d-none.d-lg-inline-block(data-toggle="tooltip" data-placement="bottom" title="Feed")
                span.fas.fa-list-alt
              span.d-lg-none Feed
          li.nav-item.dropdown
            a#navbarDropdownLogin.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Login
            .dropdown-menu.dropdown-menu-right.dropdown-menu-card(aria-labelledby='navbarDropdownLogin')
              .card.shadow-none.navbar-card-login
                .card-body.fs--1.p-4.font-weight-normal
                  
                  .row.text-left.justify-content-between.align-items-center.mb-2
                    .col-auto
                      h5.mb-0 Log in
                    .col-auto
                      p.fs--1.text-600.mb-0 or 
                        a(href=`${CWD}authentication/basic/register.html`) Create an account

                  +LoginForm({
                    email: { attrs: { placeholder: 'Email address' } },
                    password: { attrs: { placeholder: 'Password' } },
                    checkbox: { attrs: { id: 'modal-checkbox' } },
                  })
                  +SocialButtons({ title: 'log in' }).mt-4

          li.nav-item
            a(href='#!' data-toggle='modal', data-target='#exampleModal').nav-link Register
  
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body.p-4
        
          .row.text-left.justify-content-between.align-items-center.mb-2
            .col-auto
              h5#modalLabel Register
            .col-auto
              p.fs--1.text-600.mb-0 Have an account? 
                a(href=`${CWD}authentication/basic/login.html`) Login
          +RegisterForm({
            name: { attrs: { placeholder: 'Name' } },
            email: { attrs: { placeholder: 'Email address' } },
            password: { attrs: { placeholder: 'Password' } },
            confirmPassword: { attrs: { placeholder: 'Confirm Password' } },
            checkbox: { attrs: { id: 'modal-register-checkbox' } },
          })
          +SocialButtons({ title: 'register' }).mt-4
