mixin EmbedExampleDescription
  p&attributes(attributes) Rules are directly applied to 
    code &lt;iframe&gt;,
    code &lt;embed&gt;,
    code &lt;video&gt;, 
    | and 
    code &lt;object&gt;
    | elements; optionally use an explicit descendant class
    code .embed-responsive-item when you want to match the styling for other attributes.
    
mixin EmbedExampleDemo
  .embed-responsive.embed-responsive-16by9
    = '\n'
    iframe.embed-responsive-item(src='https://www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen='')
    = '\n'
