mixin WizardPager
  .px-sm-3.px-md-5
    ul.pager.wizard.list-inline.mb-0
      li.previous
        button(type="button" ).btn.btn-link.pl-0
          span.fas.fa-chevron-left.mr-2(data-fa-transform="shrink-3")
          | Prev
      li.next
        a(href='#!').btn.btn-primary.px-5.px-sm-6 Next
          span.fas.fa-chevron-right.ml-2(data-fa-transform="shrink-3") 