mixin CardPaymentChart
  .card&attributes(attributes)
    .card-body.rounded-lg.bg-line-chart-gradient
      .row.text-white.align-items-center.g-0
        .col
          h4.text-white.mb-0 Today $764.39
          p.fs--1.font-weight-semi-bold Yesterday 
            span.opacity-50 $684.87
        .col-auto.d-none.d-sm-block
          select.form-select.form-select-sm.mb-3#dashboard-chart-select
            option(value='all') All Payments
            option(value='successful' selected) Successful Payments
            option(value='failed') Failed Payments
      canvas.mw-100.rounded#chart-line(width=1618, height=375, aria-label='Line chart' role='img')

