extends ../../layouts/LayoutTheme
include ../../layouts/LayoutBasic
include ../../mixins/authentication/LogOutContent

block append variables
  - var CWD = '../../'

block wrapperContent
  +LayoutBasic
    +LogOutContent.text-center
