extends ../../layouts/LayoutComponent
include ../../mixins/components/navbar/DarkenOnScroll

append variables
  - var CWD = '../../';
  - var firstParent = 'components'              
  - var secondParent = 'navbar'              
  - var currentPage = 'darken-on-scroll'
  -
    var pageHeader = {
      title: 'Navbar darken on scroll',
      description: `${name}'s special Navbar for landing, where background color will be changed gradually transparent to darken on scroll.`,
      url: `${CWD}home/landing.html`,
      linkText: 'See the implementation here'
    }

append content
  +PageHeader(pageHeader)
  .card.mb-3
    .card-header
      +DocCardHeader('HTML')
    .card-body.bg-light
      +HTMLDescription
      +componentCardLib
        +NavbarDarkenScrollDemo

      +NavbarDarkenOnScrollVarientDescription 
      
      +NavbarDarkenOnScrollVarientDemo