extends ../../layouts/LayoutComponent
include ../../mixins/components/navbar/NavbarTop

append variables
  - var CWD = '../../'
  - var firstParent = 'components'              
  - var secondParent = 'navbar'              
  - var currentPage = 'top'
  -
    var pageHeader = {
      title: 'Navbar Top',
      description: `Navbar Top is a different user friendly layout system in ${name}.`,
      url: `${CWD}demo/navbar-top.html`,
      linkText: 'Navbar top example page'
    }

append content

  +PageHeader(pageHeader)

  .card.mb-3
    .card-header
      +DocCardHeader('Supported Content')
    .card-body.bg-light
      +SupportedContentDescription.mb-0
  
  .card.mb-3
    .card-header
      +DocCardHeader('Html')
    .card-body.bg-light
      +NavbarTopHTMLCodeDemo
  
  .card.mb-3
    .card-header
      +DocCardHeader('Responsive Behaviors')
        p.mt-2.mb-0 #{name} Navbar Top use Bootstrap Navbar responsive behaviors.
    .card-body.bg-light
      +NavbarTopResponsiveBehaviors
  
  .card.mb-3
    .card-header
      +DocCardHeader('Color Schemes')
    .card-body.bg-light
      +NavbarTopColorSchemes



